/ForagingAnt/__pycache__
/ForagingAnt/abm/__pycache__
/ForagingAnt/ca/__pycache__
/ForagingAnt/util/__pycache__

/SugarScape/__pycache__
/SugarScape/abm/__pycache__
/SugarScape/ca/__pycache__
/SugarScape/util/__pycache__



.idea
