/ForagingAnt/__pycache__
/ForagingAnt/abm/__pycache__
/ForagingAnt/ca/__pycache__
/ForagingAnt/util/__pycache__

/Sugarscape/__pycache__
/Sugarscape/abm/__pycache__
/Sugarscape/ca/__pycache__
/Sugarscape/util/__pycache__



.idea
